@page "/"

<h1>Hello All and EveryOne.</h1>
<p>Hi Iam @name, Today its my first day as blazor.</p>
<br />
<button @onclick="SeeName" class="btn btn-primary">See Name</button>
@code{
  string name = string.Empty;

  void SeeName() => name = "Geffery Rock";
}
